_wandb:
    value:
        cli_version: 0.23.0
        e:
            zffqtdftu7m9ecchro0e9pqxva10s0mw:
                codePath: bot.py
                codePathLocal: bot.py
                cpu_count: 14
                cpu_count_logical: 28
                cudaVersion: "12.8"
                disk:
                    /:
                        total: "21474836480"
                        used: "1637728256"
                email: cuteslenaa@gmail.com
                executable: /venv/main/bin/python
                git:
                    commit: b6b4a3e9b021f49fab6af9f75aebb97e96455fd3
                    remote: https://github.com/Gashrod1/ia-v2.git
                gpu: NVIDIA GeForce RTX 3060
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Ampere
                      cudaCores: 3584
                      memoryTotal: "12884901888"
                      name: NVIDIA GeForce RTX 3060
                      uuid: GPU-6d960126-21ec-4c7a-7357-2163f48305a2
                host: 986865126dd1
                memory:
                    total: "67333267456"
                os: Linux-6.8.0-52-generic-x86_64-with-glibc2.39
                program: /workspace/ia-v2/bot.py
                python: CPython 3.12.11
                root: /workspace/ia-v2
                startedAt: "2025-11-13T16:23:41.746932Z"
                writerId: zffqtdftu7m9ecchro0e9pqxva10s0mw
        m: []
        python_version: 3.12.11
        t:
            "1":
                - 1
            "2":
                - 1
            "3":
                - 2
                - 5
                - 14
                - 16
                - 62
            "4": 3.12.11
            "5": 0.23.0
            "10":
                - 20
            "12": 0.23.0
            "13": linux-x86_64
critic_layer_sizes:
    value:
        - 512
        - 512
        - 256
critic_lr:
    value: 0.0002
exp_buffer_size:
    value: 150000
gae_gamma:
    value: 0.99
gae_lambda:
    value: 0.95
min_inference_size:
    value: 36
n_proc:
    value: 48
policy_layer_sizes:
    value:
        - 512
        - 512
        - 256
policy_lr:
    value: 0.0002
ppo_batch_size:
    value: 50000
ppo_clip_range:
    value: 0.2
ppo_ent_coef:
    value: 0.01
ppo_epochs:
    value: 2
ppo_minibatch_size:
    value: 50000
shm_buffer_size:
    value: 8192
standardize_obs:
    value: true
standardize_returns:
    value: true
timestep_limit:
    value: 1e+16
ts_per_iteration:
    value: 50000
